#maze {
    width: 500px;
    height: 500px;
    background-color: #1D2029;
    position: relative;

    .box {
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
            background-color: #00000080;
        }
    }

    .selected-box {
        background-color: #7000cc;
        &:hover {
            background-color: darken($color: #7000cc, $amount: 10);
        }
    }
    .topWall {
        border-top: 2px solid black;
    }
    .bottomWall {
        border-bottom: 2px solid black;
    }
    .leftWall {
        border-left: 2px solid black;
    }
    .rightWall {
        border-right: 2px solid black;
    }
}